<div class="container">
     <br/><br/>
       <span style="font-weight:bold;font-size:15px" align="left">Dear Dr. {{username}} , </span>
       <span ng-show="tasks.length == 0">you dont' have any pending tasks right now, please check back after some time.</span>
       <span ng-show="tasks.length != 0">you have {{tasks.length}} pending tasks, please complete your tasks.</span>
     <br/><br/>

     <div class="panel panel-primary">
        <div class="panel-heading">Pending Tasks</div>
        <div class="panel-body">
           <table class="table table-condensed ">
            <thead>
              <tr>
               <th>Record ID</th>
               <th>State</th>
             </tr>
           </thead>

         <tbody>
             <tr ng-repeat="task in tasks">
               <!--  <td><a  ui-sref="task( { vaRecord:{{task.record_id}} , taskId:{{task.id}} , task_data:task  } )">{{task.record_id}}</a></td>-->
                 <td>
                   <a  ng-click="openTask(task)">
                   {{task.record_id}}</a>
                 </td>
                 <td>{{ getState(task.task_status) }}</td>
             </tr>
         </tbody>

       </table>

      </div>
    </div>

</div>
