<div class="container">
<div class="col-md-offset-2 page-content">
     
    
     <form name="physicianForm" ng-controller="PhysicianController" ng-submit="processForm()" class="form-horizontal" novalidate>

        <div class="col-md-9 form-group">
         <label style="text-align: left;" class ="control-label col-md-2 ">Physician name</label>
         <div class="col-md-4">
             <input ng-model="formData.name" type="text" class="form-control" placeholder="Physician Name">
         </div>
        </div> 

        <br/>

        <div class="col-md-9 form-group">
         <label style="text-align: left;" class ="control-label col-md-2 ">Email</label>
         <div class="col-md-4">
             <input ng-model="formData.email" type="text" class="form-control" placeholder="Email">
         </div>
        </div>

        <br/>

        <div class="col-md-9 form-group">
         <label style="text-align: left;" class ="control-label col-md-2 ">Physician role</label>
         <div class="col-sm-6">
           <label class="radio-inline">
            <input ng-required="true" type="radio" ng-model="formData.role" name="sex" value="coder">
             Only Coder
           </label><br/>
           <label class="radio-inline">
            <input ng-required="true" type="radio" ng-model="formData.role" name="sex" value="adjudicator">
             Only Adjudicator
           </label>  <br/>
           <label class="radio-inline">
            <input ng-required="true" type="radio" ng-model="formData.role" name="sex" value="coder,adjudicator">
             Both Coder and Adjudicator
           </label>           
         </div>
        </div>

        <br/>
 

         <br/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
              <button type="submit" class="btn btn-success">
                <span>Save</span> 
              </button>
                <pre>physicianForm= {{ formData | json }}</pre>  
            </div>
         </div>


     </form>



</div>  
</div>   
