<div ng-include="'provisioning_assets/templates/sidebar.html'"></div>
<div class="container">
<div class="col-md-offset-2 col-md-12 page-content">

   <br/> <br/><br/>

     <form name="createPhaseForm" class="form-horizontal" novalidate>

        <div class="form-group">
         <label style="text-align: left;" class ="control-label col-md-2 ">Select study <span class="must">*</span></label>
           <div class="col-sm-6">
           <div class="select-study-dropdown" style="width: 425px;">
             <select  required ng-model="formData.study" id="mySelect"
              ng-options="option.name for option in studies">
              <option value="" selected="selected" hidden>Select a study</option>
             </select>
           </div>
         </div>
        </div>

        <br/>

        <div class="form-group">
         <label style="text-align: left;" class ="control-label col-md-2">Phase name <span class="must">*</span></label>
         <div class="col-sm-4" ng-class="{ 'has-error': createPhaseForm.phase.$touched && createPhaseForm.phase.$invalid }">
             <input required ng-model="formData.phase"  name="phase" type="text" class="form-control" placeholder="Phase Name">
         </div>
        </div>

        <div class="form-group">
         <label style="text-align: left;" class ="control-label col-md-2">Add physicians <span class="must">*</span></label>
           <div class="col-sm-4">
            <button type="button" class="btn btn-warning" ng-click="openPhysicianModal()">Add Physicians</button>
          </div>
        </div>

        <br/>

        <div class="form-group">
         <label style="text-align: left;" class ="control-label col-md-2">Select VaRecords <span class="must">*</span> </label>
           <div class="col-sm-8">
            <div class="select-study-dropdown" style="width: 212px;">
              <select  required ng-change="fetchVARecordPhases()"
              ng-model="formData.va_record_study" id="va_record_select_study"
              ng-options="option.study for option in vaRecord.studies">
              <option value="" selected="selected" hidden>Select records study</option>
             </select>
           </div>

           <div class="select-study-dropdown" style="width: 212px;">
             <select required ng-model="formData.va_record_phase" id="va_record_select_phase"
              ng-options="option.phase for option in vaRecord.phases">
              <option value="" selected="selected" hidden>Select records phase</option>
             </select>
           </div>
         </div>
        </div>

         <br/>   <br/>   <br/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
              <button type="button" ng-disabled="createPhaseForm.$invalid" ng-click="processForm()" class="btn btn-success">
                <span>Create Phase</span>
              </button>
              <!--  <pre>physicianForm= {{ formData | json }}</pre>-->
            </div>
         </div>


     </form>



</div>
</div>
