<div ng-include="'provisioning_assets/templates/sidebar.html'"></div>
<div class="container">
<div class="col-md-offset-3 col-sm-9">

      <br/>
      <h3 align="center">Create Physician</h3><hr/>

     <form name="physicianForm" ng-controller="PhysicianController" ng-submit="processForm()" class="form-horizontal" novalidate>

        <div class="form-group">
         <label style="text-align: left;" class ="control-label col-sm-3 ">Physician name <span class="must">*</span></label>
         <div class="col-md-3">
             <input required ng-model="formData.name" type="text" class="form-control" placeholder="Physician Name">
         </div>
        </div>

        <br/>

        <div class="form-group">
         <label style="text-align: left;" class ="control-label col-sm-3">Email <span class="must">*</span></label>
         <div class="col-md-3" ng-class="{ 'has-error': physicianForm.email.$touched && physicianForm.email.$invalid }">
             <input required ng-model="formData.email" name="email" type="email" class="form-control" placeholder="Email">
         </div>
        </div>

        <br/>

        <div class="form-group">
         <label style="text-align: left;" class ="control-label col-sm-3">Physician role <span class="must">*</span></label>
         <div class="col-sm-6">
           <label class="radio-inline">
            <input required type="radio" ng-model="formData.role" name="sex" value="coder">
             Only Coder
           </label><br/>
           <label class="radio-inline">
            <input required  type="radio" ng-model="formData.role" name="sex" value="adjudicator">
             Only Adjudicator
           </label>  <br/>
           <label class="radio-inline">
            <input required  type="radio" ng-model="formData.role" name="sex" value="coder,adjudicator">
             Both Coder and Adjudicator
           </label>
         </div>
        </div>

        <br/>


         <br/>

        <div class="form-group">
            <div class="col-sm-offset-3">
              <button ng-disabled="physicianForm.$invalid" type="submit" class="btn btn-success">
                <span>Create Physician</span>
              </button>
              <!--  <pre>physicianForm= {{ physicianForm | json }}</pre>-->
            </div>
         </div>


     </form>



</div>
</div>
