<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a ui-sref="manage">
                        CME
                    </a>
                </li>
                <li>
                    <a ui-sref="study">Create Study</a>
                </li>
                <li>
                    <a ui-sref="phase">Create Phase</a>
                </li>
                <li>
                    <a ui-sref="physician">Create Physician</a>
                </li>
                <li>
                    <a ui-sref="phases">All Phases</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
